.fare-summary-card {
  display: flex;
  justify-content: space-between;
  background: #fffbe6;
  padding: 15px 20px;
  border-radius: 10px;
  border: 1px solid #fcd34d;
  margin-bottom: 20px;
}

.fare-title {
  font-size: 13px;
  color: #6b7280;
}

.fare {
  font-size: 15px;
  font-weight: 600;
}

.total-box {
  text-align: right;
}

.total-amount {
  font-size: 18px;
  font-weight: 700;
  color: #b45309;
}
.fare{
    color: #b45309;
    font-weight: 700;
    font-size: 1
}